html{
    min-height: 100%;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    border: 1px solid #d5d5d5;
}
  
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #def0e7;;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

/*Header*/

h1{
    font-family: 'Coiny', cursive;
    font-size: 5vh;
    padding: 2vh;
    color: #144e41;
}

/*Input*/

.input-container{
    width: 50vh;
    height: 5vh;
}

.input-form{
    height: inherit;
}

.input-field{
    font-size: 1.5vh;
    padding-left: 1vh;
    width: 80%;
    height: inherit;
    background: #def0e7;
    border: none
}

.input-button{
    background: #9ef3ef;
    border: none;
    width: 20%;
    height: inherit;
}

.input-button:focus{
    outline: none;
}
.input-button:hover{
    background: #84e9e4;
}

/*To-Do List*/

.list-container{
    padding-top: 4vh;
    width: 50vh;
}

.todo-list{
    list-style-type: none;
}

.todo-item{
    display: flex;
    padding-bottom: 2vh;
}

.todo-text{
    background: #def0e7;
    border-radius: 3px;
    width: 60%;
    height: 5vh;
    display: flex;
    align-items: center;
    overflow-y: auto;
    padding-left: 1vh;
}

.todo-text--complete{
    background: #def0e7;
    border-radius: 3px;
    width: 60%;
    height: 5vh;
    display: flex;
    align-items: center;
    overflow-y: auto;
    padding-left: 1vh;
    text-decoration: line-through;
    color: #b0b0b0;
}

.todo-button--complete{
    width: 20%;
    border: none;
    background: #9ef3a5;
}

.todo-button--complete:hover{
    background: #99eea0;
}

.todo-button--complete:focus{
    outline: none;
}

.todo-button--delete{
    width: 20%;
    border: none;
    background: #f1cd8b;
}

.todo-button--delete:hover{
    background: #e6c486;
}

.todo-button--delete:focus{
    outline: none;
}
